@import "mixins";
@import "normalize";
@import "../fonts/inter.css";
@import "./container/container.scss";
@import "./header/header.scss";
@import "./header/__list/header__list.scss";
@import "./header/__form/header__form.scss";
@import "./description/description.scss";
@import "./description/__text-block/description__text-block.scss";
@import "./subtitle/subtitle.scss";
@import "./instructions/instructions.scss";
@import "./running-line/running-line.scss";
@import "./reviews/reviews.scss";
@import "./reviews/__list-block/reviews__list-block.scss";
@import "./reviews/__list-block-rate-date/reviews__list-block-rate-date.scss";
@import "./reviews/__profile/reviews__profile.scss";
@import "./footer/footer.scss";
@import "./footer/__contacts-block/footer__contacts-block";

* {
  box-sizing: border-box;
}

:root {
  --inter: "Inter", arial, helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", "arial", "helvetica", sans-serif;
}
