@import "../../mixins";

.reviews__list-block-rate-date {
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include MaxHeight(24);
  @include flexbox();
}

.reviews__list-block-rate-date span {
  margin: 0;
  padding: 0;
  height: 100%;
}

.reviews__list-block-rate-date svg {
  width: 100%;
  height: 100%;

  @include MaxHeight(24);
  @include MaxWidth(24);
}
