@import "normalize";
@import "../fonts/inter.css";
@import "mixins";

:root {
  --inter: "Inter", arial, helvetica, sans-serif;
}

html {
  height: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url("../images/bg-image-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  color: #ffffff;
  font-family: var(--inter);

  @include MaxWidth(1920);
  @include MinHeight(1080);
  @include flexbox();
}

.header__list {
  border: 1px solid #222020;
  width: 100%;
  justify-content: space-between;
  display: flex;

  // @include flexbox();
}

.header__list ul {
  border: 1px solid #00af4f;
  margin: 8px auto 0;
  list-style: none;
  align-items: center;

  @include MinHeight(67);
  @include flexbox();
}

.header h1 {
  font-weight: 700;
  border: 1px solid #000000;

  @include fontSize(64);
}

