@import "../../mixins.scss";

.reviews__profile {
  width: 100%;
  min-height: 32px;
  color: #11002d;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;

  @include MaxWidth(152);
  @include flexbox();
}

.reviews__profile svg {
  width: 32px;
  height: 32px;
}

.reviews__profile span {
  display: block;
  flex-shrink: 0;

  @include fontSize(14);
}
